@using Tackakom.UserInterface.Helpers
@model IEnumerable<Tackakom.Model.Event>

@{
	ViewBag.Title = "Index";
	<h1>@ViewBag.endOfList</h1>
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<div id="event-list">
    @{int i = 0;}
    @foreach (var item in Model) {
		
     i = i + 1;
     @Html.Event(i, item, Model.Count());
    }
</div>
@if ((string)ViewData["pageLinks"] != "") { 
   @Html.Raw(ViewData["pageLinks"].ToString())
   <br /><br />
    }

@section Menu {
		<div class="button">
        <div onclick="AddStuff()" id="btn1"></div>
        <div onclick="Edit()" id="btn2"></div>
        <div onclick="Delete()" id="btn3"></div>
		</div>
}

@section Footer {
	<div id="social">
		<div id="share">
			<img src="../../Content/Slike/facebook.png" />
			<img src="../../Content/Slike/gplus.png" />
			<img src="../../Content/Slike/twitter.png" />
		</div>
	</div>
}

