
@{
    Layout = null;
}

<form action="../Event/SingleEvent" method="post">
    <input id="searchTerm" name="Id" type="text" />
    <input type="submit" value="Go" />
</form>
<script type="text/javascript">
    $(function () {
        $("#searchTerm").autocomplete({
            source: "/Event/GetEventTitles",
            minLength:2,
            select: function (event, ui) {
                if (ui.item) {
                    $("#searchTerm").val(ui.item.value);
                    $("form").submit();
                }
            }
        });
    });
</script>