
@{
    Layout = null;
}

<form action="/date/" method="post">
    <input id="filterByDate" name="date" type="text" />
    <input type="submit" value="Pretraga po datumu" />
</form>
<script type="text/javascript">
</script>