
@{
    Layout = null;
}

<form action="/name/" method="post">
    <input id="filterByName" name="name" type="text" />
    <input type="submit" value="Pretraga po nazivu" />
</form>
<script type="text/javascript">
    $(function () {
        $("#filterByName").autocomplete({
            source: "/Event/GetEventTitles",
            minLength:2,
            select: function (event, ui) {
                if (ui.item) {
                    $("#filterByName").val(ui.item.value);
                    $("form").submit();
                }
            }
        });
    });
</script>