@if(Request.IsAuthenticated) {
    
    <text><div class="login"><strong>Cao @User.Identity.Name</strong>!
        @Html.ActionLink("Izloguj se", "LogOff", "Account", null, new { id = "logOffId" })
        @Html.ActionLink("Moji dogadjaji", "editing", "Event", null, new { id = "editId" })</div></text>
    
}
else
{
   <div class="login">@Html.ActionLink("Uloguj se", "LogOn", "Account", null, new { id = "logOnId" })</div>
}