html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}




/******************************************************************************************************
*   ______    ________  ________      _______  ___  ___       ______    ______    ___       _______   *
*  /" _  "\  /"       )/"       )    |   _  "\|"  \/"  |     /" _  "\  /    " \  |"  |     /"     "|  *
* (: ( \___)(:   \___/(:   \___/     (. |_)  :)\   \  /     (: ( \___)// ____  \ ||  |    (: ______)  *
*  \/ \      \___  \   \___  \       |:     \/  \\  \/       \/ \    /  /    ) :)|:  |     \/    |    *
*  //  \ _    __/  \\   __/  \\      (|  _  \\  /   /        //  \ _(: (____/ //  \  |___  // ___)_   *
* (:   _) \  /" \   :) /" \   :)     |: |_)  :)/   /        (:   _) \\        /  ( \_|:  \(:      "|  *
*  \_______)(_______/ (_______/      (_______/|___/          \_______)\"_____/    \_______)\_______)  *
*                                                                                                     *
******************************************************************************************************/

body
{
background: #e7dbbb url("./Slike/pattern.png");
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 130px;
	background: url("./Slike/head2.png");
	/*border: solid 3px red;*/
}

#main-menu
{
	position:relative;
	width: 60%;
	height:100%;
	/*border: dashed 3px red;*/
	/*background: orange;*/
	margin: auto;
	color: #FFF;
	font-size: 25px;
}
#logo img{
float:left;
cursor:pointer;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
width: 139px;
height: 114px;
background: url("./Slike/logo-bazinga.png");
}
#logo img:hover
{
-moz-transform: scale(1.1);
-webkt-transform: scale(1.1);
}
.button
{
	width: 65%;
	height: 100%;
	margin:auto;
	/*background: #ab5bee;*/
	text-align:center;
}
#btn1{
	margin: 40px 20px;
	height: 32px;
	width: 120px;
	background: url("./Slike/Btns/result.png");
	background-position: 0px -37px;
    cursor: pointer;
    float:left;   
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
#btn2{
	margin: 40px 20px;
	height: 32px;
	width: 120px;
	background: url("./Slike/Btns/result.png");
	background-position: 0px -185px;
    cursor: pointer;   
    float:left;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
#btn3{
	margin: 40px 20px;
	height: 32px;
	width: 120px;
	background: url("./Slike/Btns/result.png");
	background-position: 0px -111px;
    cursor: pointer;   
    float:left;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
#btn1:hover
{
    background: url("./Slike/Btns/result.png");
	background-position: 0px 0px;
    box-shadow: 0 0 5px #FFF;
    -webkit-box-shadow: 0 0 5px #FFF;
}
#btn2:hover
{
    background: url("./Slike/Btns/result.png");
	background-position: 0px -148px;
    box-shadow: 0 0 5px #FFF;
    -webkit-box-shadow: 0 0 5px #FFF;
}
#btn3:hover
{
    background: url("./Slike/Btns/result.png");
	background-position: 0px -74px;
    box-shadow: 0 0 5px #FFF;
    -webkit-box-shadow: 0 0 5px #FFF;
}
#main-menu input
{
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#main-menu input:focus
{
/*width: 175px;*/
box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.login 
{
    position:absolute;
    bottom: 50px;
    left: 145px;
}
.login a
{
    margin-left: 10px;
}
.login strong
{
    margin-left: 5px;
}
#logOffId
{
    text-decoration:none;
    color: rgba(255,255,255, 0.5);
    font-weight:bold;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#editId
{
    text-decoration:none;
    color: rgba(255,255,255, 0.5);
    font-weight:bold;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#logOnId
{
    text-decoration:none;
    color: rgba(255,255,255, 0.5);
    font-weight:bold;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#backToId
{
    position:absolute;
    top:50px;
    right:10px;
    text-decoration:none;
    color: rgba(255,255,255, 0.5);
    font-weight:bold;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#logOffId:hover
{
color: rgba(255,255,255, 1);
}
#logOnId:hover
{
color: rgba(255,255,255, 1);
}
#editId:hover
{
color: rgba(255,255,255, 1);
}
#backToId:hover
{
color: rgba(255,255,255, 1);
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
	width: 60%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*background: #FF9999;
	border: solid 3px purple;*/
}

#event-list
{
	border: solid 3px transparent;
}

.event
{
	position: relative;
	background: rgba(255,255,255, 0.5);
	margin: 10px;
	padding: 10px;
	text-indent: 20px;
	height: 115px;
	cursor:pointer;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	/*border-radius: 5px;
	border: solid 1px rgba(45,10,5,0.5);*/
}
.event:hover
{
  	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);  
}
.event img 
{
float:left;    
}
.event p 
{
margin: 5px 5px 10px 125px;
text-align:justify;    
}
.event span
{
float:left;
font-size: 14px;
font-weight:bold; 
position: absolute;  
bottom: 10px;
left:130px;
}
.event em
{
color: #BF3E2D;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
margin-right:10px;
}
.event em:hover
{
color:#E54E3D;
font-size: 16px;
}
.autor
{
float:right;
font-size: 14px;
text-decoration: none;
color: #BF3E2D;
font-weight: bold;
-moz-transition: all 0.2s;    
-webkit-transition: all 0.2s;
position: absolute;  
bottom: 10px;
right: 15px;
}
.autor:hover
{
color:#E54E3D;
font-size: 17px;
}
.naslov a
{
 float:none;
font-size: 18px;
text-decoration: none;
color: #222;
font-weight: bold;
-moz-transition: all 0.2s; 
}
.naslov a:hover
{
 float:none;
font-size: 18px;
text-decoration: none;
color: rgba(0,0,0,0.5);
font-weight: bold;
-moz-transition: all 0.2s; 
}
.datum a
{
text-decoration: none;
color: #BF3E2D;
font-weight: bold;    
}
.pagination 
{
margin-left:15px;
}
.pagination a
{
display: block;
float:left;
height: 25px;
margin-right:5px;
background: #333;
min-width: 25px;
text-align:center;
font-size: 15px;
font-weight:bold;
line-height: 25px;
text-decoration: none;
	cursor:pointer;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
		background: rgba(2555,255,255, 0.5);
		color: #BF3E2D;
}
.pagination b
{
display: block;
float:left;
height: 25px;
margin-right:5px;
background: #333;
min-width: 25px;
text-align:center;
font-size: 15px;
line-height: 25px;
	cursor:pointer;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);  
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);  
		background: rgba(2555,255,255, 0.5);
}
.pagination a:hover
{
  	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);  
}
.pagFirst
{
    width:50px;
}
.pagLast
{
    width:80px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 100%;
	margin: -0px auto 0;
	height: 110px;
	background: url("./Slike/foot3.png");
	position: relative;
	/*border: solid 3px orange;*/
}
#social
{
	position:relative;
	width: 60%;
	height:100%;
	/*border: dashed 3px red;*/
	/*background: orange;*/
	margin: auto;
}
#share
{
    height: 100%;
    width: 50%;
    /*background: blue;*/
    margin: auto;
    text-align:center;
}
#share img
{
margin: 35px 10px 0 10px;
cursor: pointer;   
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
width:64;
height:64;
}
#share img:hover
{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
}


/*POPUP SLIKA
-------------------------------------------------------------------------------------------*/
#slika
{
    background-color:White;
    border: solid 3px #444;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    margin-top: 10px;
}

.slika
{
    margin: -15px;
    /*background-color:White;
    border: solid 3px #444;*/
    -moz-transform: scale(0.6);
    -moz-transition: all 0.3s;
    -webkit-transform: scale(0.6);
    -webkit-transition: all 0.3s;
}

.slika:hover
{
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    cursor:pointer;
}

/*
 _______  _______  _______  _______
(       )(  ___  )(  ____ )(  ____ \
| () () || (   ) || (    )|| (    \/
| || || || (___) || (____)|| (__    
| |(_)| ||  ___  ||     __)|  __)   
| |   | || (   ) || (\ (   | (      
| )   ( || )   ( || ) \ \__| (____/\
|/     \||/     \||/   \__/(_______/
*/    

input.red 
{
    background-color: #920d06;
    color: #fcb0ac;
    font-weight: bold;
}
.eventSingle
{
	position: relative;
	background: rgba(255,255,255, 0.5);
	margin: 10px;
	padding: 10px;
	text-indent: 20px;
	height: 135px;
	cursor:pointer;
}
.eventSingle:hover
{
  	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);  
}

.eventSingle img 
{
    float:left;
    margin: 5px;
}

.eventSingle p 
{
margin: 5px 5px 10px 125px;
text-align:justify;    
}

.eventSingle em
{
color: #BF3E2D;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
margin-right:10px;
}

.eventSingle em:hover
{
color:#E54E3D;
font-size: 16px;
}

.eventSingle .autor
{
float:right;
font-size: 14px;
text-decoration: none;
color: #BF3E2D;
font-weight: bold;
-moz-transition: all 0.2s;    
-webkit-transition: all 0.2s;
position: absolute;  
bottom: 10px;
right: 15px;
}

.eventSingle .autor:hover
{
color:#E54E3D;
font-size: 17px;
}

.eventSingle span
{
float:left;
font-size: 14px;
font-weight:bold; 
position: absolute;  
bottom: 10px;
left:130px;
}

.eventSingle h1
{
float:none;
font-size: 18px;
text-decoration: none;
color: #222;
font-weight: bold;
-moz-transition: all 0.2s; 
}

.eventSingle .datum
{
text-decoration: none;
color: #BF3E2D;
font-weight: bold;    
}

.hostSingle
{
	position: relative;
	background: rgba(155,0,0, 0.1);
	margin: 10px;
	padding: 10px;
	text-indent: 20px;
	height: 450px;
} 
.hostSingle h1
{
font-size: 18px;
color: #222;
font-weight: bold;
-moz-transition: all 0.2s; 
}
.hostSingle p 
{
margin: 5px 5px 10px 125px;
text-align:justify;    
}

.hostSingle a:link
{
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #BF3E2D;
}
.hostSingle a:hover
{
    color: rgba(155,0,0, 0.5);
}
.hostSingle a:visited
{
    color: rgba(155,0,0, 0.1);
}

.hostSingle img
{
    float: right;
    height: 320px;
    width: 480px;
}

.hostSingle img:hover
{
    float: right;
    height: 325px;
    width: 485px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);  
}
                            