@{
    ViewBag.Title = "Home Page";
}

 <div id="event-list">
		<article class="event">
		<img src="../../Content/Slike/Ikonice/kockaste/fingerfocus.png" />
        <h1>Naslov 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis.</p>
		<span>Vreme: 20/jun/2012 u 22h:30min</span><a href="#">Pomarandza kafic</a>
        </article>

		<article class="event">
		<img src="../../Content/Slike/Ikonice/kockaste/fxphotostudio.png" />
        <h1>Naslov 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis.</p>
		<span>Vreme: 20/jun/2012 u 22h:30min</span><a href="#">Pomarandza kafic</a>
        </article>

		<article class="event">
		<img src="../../Content/Slike/Ikonice/kockaste/halftone.png" />
        <h1>Naslov 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis.</p>
		<span>Vreme: 20/jun/2012 u 22h:30min</span><a href="#">Pomarandza kafic</a>
        </article>

		<article class="event">
		<img src="../../Content/Slike/Ikonice/kockaste/lithogram.png" />
        <h1>Naslov 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis.</p>
		<span>Vreme: 20/jun/2012 u 22h:30min</span><a href="#">Pomarandza kafic</a>
        </article>

		<article class="event">
		<img src="../../Content/Slike/Ikonice/kockaste/lens+.png" />
        <h1>Naslov 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis.</p>
		<span>Vreme: 20/jun/2012 u 22h:30min</span><a href="#">Pomarandza kafic</a>
        </article>

		</div>
@section Menu {
		<div class="button">
        <div id="btn1"></div>
        <div id="btn2"></div>
        <div id="btn3"></div>
		</div>
}
@section Footer {
	<div id="social">
	    <div id="share">
            <img src="../../Content/Slike/Ikonice/woodSoc/facebook.png" />
            <img src="../../Content/Slike/Ikonice/woodSoc/googleplus.png" />
            <img src="../../Content/Slike/Ikonice/woodSoc/twitter.png" />
	    </div>
    </div>
}