@{
    ViewBag.Title = "Home Page";
}

 <h2>Ovo je body! in progress!</h2>
 <div id="event-list">
		<article class="event">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis. Maecenas vitae mi justo, a commodo dui. Proin aliquam lacinia justo a laoreet. Pellentesque mollis interdum blandit. Nam ut sollicitudin lacus. In non sollicitudin purus.
		</article>
		<article class="event">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis. Maecenas vitae mi justo, a commodo dui. Proin aliquam lacinia justo a laoreet. Pellentesque mollis interdum blandit. Nam ut sollicitudin lacus. In non sollicitudin purus.
		</article>
		<article class="event">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis. Maecenas vitae mi justo, a commodo dui. Proin aliquam lacinia justo a laoreet. Pellentesque mollis interdum blandit. Nam ut sollicitudin lacus. In non sollicitudin purus.
		</article>
		<article class="event">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis. Maecenas vitae mi justo, a commodo dui. Proin aliquam lacinia justo a laoreet. Pellentesque mollis interdum blandit. Nam ut sollicitudin lacus. In non sollicitudin purus.
		</article>
		<article class="event">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sem id velit rhoncus scelerisque non vel mi. Vestibulum tristique sem ut libero tincidunt sed fringilla tellus fringilla. Aliquam sollicitudin dolor at urna facilisis pharetra fringilla nisi iaculis. Quisque eros nisl, varius nec sodales ac, consectetur ut felis. Maecenas vitae mi justo, a commodo dui. Proin aliquam lacinia justo a laoreet. Pellentesque mollis interdum blandit. Nam ut sollicitudin lacus. In non sollicitudin purus.
		</article>
		</div>
@section Menu {
		<div class="button">
		<img src="../../Content/Slike/Button-Add-icon.png" />
        <img src="../../Content/Slike/Button-Delete-icon.png" />
        <img src="../../Content/Slike/Button-Edit-icon.png" />
		</div>
}
@section Footer {
	<div id="social">
	    <div id="share">
            <img src="../../Content/Slike/facebook.png" />
            <img src="../../Content/Slike/gplus.png" />
            <img src="../../Content/Slike/twitter.png" />
	    </div>
    </div>
}