@model Tackakom.Model.EventCategory
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje</h2>

<h3>Sigurno hoćeš da obrišeš ovo?</h3>
<fieldset>
    <legend>Kategorija</legend>

    <div class="display-label">Naslov</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Opis</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Ikona</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Icon)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Nazad na listu", "Index")
    </p>
}
