
@{
    Layout = null;
}

<form id="datumForm" action="/date/" method="post">
    <input id="filterByDate" placeholder="Pretraga po datumu..." name="date" type="text" />
    <input type="hidden" value="Pretraga po datumu" />
</form>
<script type="text/javascript">
</script>