
@{
    Layout = null;
}

<form id="priceForm" action="/priceless/" method="post">
    <input class="red" type="submit" value="Prikazi besplatne" />
</form>
<script type="text/javascript">
</script>