	<div id="social">
	    <div id="share">
            <img onclick="postToFacebook(uniqueEventId)" src="../../Content/Slike/Ikonice/woodSoc/facebook.png" />
            <img src="../../Content/Slike/Ikonice/woodSoc/twitter.png" />
            <img onclick="postToGooglePlus(uniqueEventId)" src="../../Content/Slike/Ikonice/woodSoc/googleplus.png" />
	    </div>
    </div>